header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	position: relative;
	flex-wrap: wrap;

	& .menu_up {
		width: 1200px;
		position: relative;
		margin: 0 auto;
		margin-top: 26px;
		margin-bottom: 26px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		
		& span {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 140%;
			color: $typography;
			opacity: 0.7;
		}

		& a {
			text-decoration: none;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			opacity: 0.7;
			color: $typography;
		}
	}

	& .menu_down {
		
		width: 100%;
		height: 80px;
		border-width: 1px 0px;
		border-style: solid;
		border-color: rgba(51, 51, 51, 0.1);

		& .menu_wrapper {
			margin: 0 auto;
			width: 1200px;
			display: flex;
			flex-wrap: nowrap;			
			margin-top: 32px;
			

			& .menu {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 100%;
				width: 100%;

				& .item {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 120%;
					letter-spacing: 0.01em;
					text-transform: uppercase;
					color: $typography;
					
					& a {
						text-decoration: none;
						color: $typography;
					}
					
					& .submenu {
						position: absolute;
						top: 184px;
						
						z-index: 10;
						-webkit-transition: 0.5s ease-in-out;
						-moz-transition: 0.5s ease-in-out;
						-o-transition: 0.5s ease-in-out;
						transition: 0.3s ease-in-out;

						& li {
							width: 352px;
							min-height: 49px;
							background: #FFFFFF;
							border-bottom: 1px solid rgba(51, 51, 51, 0.1);
							display: flex;
							align-items: center;
							padding-left: 16px;
						}
					}
				}
			}
		}
	}

	
}

.menu_wrapper .submenu {
	visibility: hidden;
}
.menu_wrapper ul li:hover .submenu {
	visibility: visible;
}

.search__wrapper {
	width: 24px;
	position: relative;

	& .input {
		position: absolute;	
		top: 44px;
		left: -560px;
		height: 60px;
		width: 771px;
		padding: 25px 0 0px 20px;		
		background: $white;		
		opacity: 0.8;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 100%;			
		z-index: 10;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.3s ease-in-out;

		& input	{
			width: 538px;
			height: 34px;
			border: none;
			outline: none;
			border-bottom: 1px solid #212121;
		}
		
	}
	& button {
		background: none;
		border: none;
		height: 24px;
		width: 24px;		
		cursor: pointer;
		& img {
			width: 24px;
		}
	}
}

.visible {
	display: inline-block;
}

.hidden {
	display: none;
}

@media (max-width: 1439px) {
	header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	position: relative;
	flex-wrap: wrap;

	& .menu_up {
		width: 1000px;
		position: relative;
		margin: 0 auto;
		margin-top: 26px;
		margin-bottom: 26px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& .menu_down {
		
		width: 100%;
		height: 80px;
		border-width: 1px 0px;
		border-style: solid;
		border-color: rgba(51, 51, 51, 0.1);

		& .menu_wrapper {
			margin: 0 auto;
			width: 1000px;
			display: flex;
			flex-wrap: nowrap;			
			margin-top: 32px;
			

			& .menu {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 100%;
				width: 100%;

				& .item {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 120%;
					letter-spacing: 0.01em;
					text-transform: uppercase;
					color: $typography;
				}
			}
		}
	}	
}

.search__wrapper {
	& .input {
		position: absolute;	
		top: 44px;
		left: -560px;
		height: 60px;
		width: 576px;
		padding: 25px 0 0px 20px;		
		

		& input	{
			width: 538px;
			height: 34px;
			border: none;
			outline: none;
			border-bottom: 1px solid #212121;
		}
		
	}
	& button {
		background: none;
		border: none;
		height: 24px;
		width: 24px;		
		cursor: pointer;
		& img {
			width: 24px;
		}
	}
}
}

@media (max-width: 1023px) {
	header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	position: relative;
	flex-wrap: wrap;

	& .menu_up {
		width: 680px;
		position: relative;
		margin: 0 auto;
		margin-top: 26px;
		margin-bottom: 26px;
		display: flex;
		justify-content: space-between;
		align-items: center;	
		
		& span {
			display: none;
		}
	}

	& .menu_down {
		display: none;
		width: 100%;
		height: 80px;
		border-width: 1px 0px;
		border-style: solid;
		border-color: rgba(51, 51, 51, 0.1);

		& .menu_wrapper {
			margin: 0 auto;
			width: 680px;
			display: flex;
			flex-wrap: nowrap;			
			margin-top: 32px;			
		}
			

	
	}
}
}


@media (max-width: 767px) {

	header {
		width: 95%;
	}
	.header__button {
		display: none;
	}

	.header__link {
		font-size: 12px;

	}
}