.button {
	@include button($orange);
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	&:hover {
		background: #CA4600;
	}
}

.withoutBack_orange {
	@include button(none, $borderOrange, 244px, 52px, $orange);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	& svg {
		& path {
			stroke: $orange;
		}
	}
	&:hover {
		background: $orange;
		color: $white;
		border: none;
		& svg {
			& path {
				stroke: $white;
			}
		}
	}
}

.alternative {
	@include button($activeBack, $borderWhite, 362px, 62px, $white);
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	&:hover {
		background: none;
		color: $orange;
		border: $borderOrange;
	}
}

.btn-cards {
	margin-top: 36px;
	width: 296px;
	height: 52px;
}

@media (max-width: 1439px) {
	.btn-cards {
		width: 236px;
	}
}

@media (max-width: 1023px) {
	.btn-cards {
		width: 296px;
	}
}

@media (max-width: 767px) {
	.button {
		font-size: 12px;
		line-height: 13px;
	}

	.alternative {
		font-size: 12px;
		line-height: 13px;
	}
}