.container {
	max-width: 1600px;
	margin: 0 auto;
}

@media (max-width: 1439px) {
	.container {
		max-width: 1400px;
	}
}

@media (max-width: 1023px) {
	.container {
		max-width: 700px;
	}
}