.title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: $fz;
	line-height: 110%;
	color: $white;
	&-digital {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 38px;
		line-height: 120%;
		color: $typography;
	}
	&-cards {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 140%;
		/* or 25px */

		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: $white;
		margin-bottom: 26px;
	}
}

@media (max-width: 1439px) {
	.title-cards {
		max-width: 236px;
	}
}

@media (max-width: 1023px) {
	.title {
		font-size: 42px;

		&-digital {
			font-size: 32px;
		}
	}
	.title-cards {
		max-width: 296px;
	}
}