$orange: #FF5900;
$typography: #212121;
$gray: #333333;
$grayLight: #F4F4F4;
$white: #FFFFFF;
$borderOrange: 1px solid $orange;
$borderWhite: 1px solid #FFFFFF;
$activeBack: rgba(255, 255, 255, 0.2);